.navbar {
  padding-left: 35px;
  padding-right:35px;
}

.home-main {
  font-family: 'Comfortaa', cursive;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
  width:100vw;
}

.welcome-text {
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 25vh;
  text-shadow: 3px 3px 2px #111;
}

.book-trip-btn {
  margin-top: 20px;
}

.about-us {
  margin-top: 5vh;
  height: 25vh;
}

.about-us-text {
  width: 35vh;
  font-family: 'Comfortaa', cursive;
  font-size: 23px;
}

.about-img {
  width: 60vw;
  height: 75vh;
}